body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
#randomNumberContainer {
  padding: 20px;
  max-width: 400px;
  margin: 50px auto;
}
